/* Homepage */
.homePage {
  text-align: center;
  margin: auto;
  width: 1000px; 
  height: 100%; 
  border: 10px ridge rgb(165, 6, 165); 
  border-radius: 40px;
  }

.featuredProducts {
  padding: 3%;
  display: grid;
  border-width: 5px;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 200px 80px 80px 80px; 
  column-gap: 10px;
  row-gap: 15px;
}


.product{
  left: 5%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  /* width: 200px; 
  height: 100%;  */
  border: solid purple 2px;
  border-radius: 10px;

}


